{% extends 'layout/layout.twig' %}

{% block content %}
<div class="row">
    <h1>E-conomic Sync Settings</h1>
    <div class="col-md-6">
        <a href="{{ url('myeconomic', {'action': 'adduser'}) }}" class="btn btn-info">Setup E-conomic User Credentials</a>
    </div>
    <div class="col-md-6">
        <a href="{{ url('myeconomic', {'action': 'loaddata'}) }}" class="btn btn-info">Sync Your E-conomic Data</a>
    </div>
</div>
<br>
<div class="row">
    <h2>Charts Sets:</h2>
    <div class="col-md-4">
        <a href="{{ url('myeconomic', {'action': 'turnover'}) }}" class="btn btn-info">Turnover Charts</a><br>
    </div>
    <div class="col-md-4">
        <a href="{{ url('myeconomic', {'action': 'contributionMargin'}) }}" class="btn btn-info">Contribution Margin Charts</a><br>
    </div>
    <div class="col-md-4">
        <a href="{{ url('myeconomic', {'action': 'contributionMarginPercentages'}) }}" class="btn btn-info">Contribution Margin in Percentages Charts</a><br>
    </div>
    <div class="col-md-4">
        <a href="{{ url('myeconomic', {'action': 'result'}) }}" class="btn btn-info">Result Charts</a><br>
    </div>
</div>
    
{% endblock %}