{% extends 'layout/layout.twig' %}

{% block content %}
<script src="http://cdn.zingchart.com/zingchart.min.js"></script>

<script type="text/javascript">
    window.onload = function () {

        var chartTurnover = {
            "type": "bar",
            "title":{
                "text": "Turnover: {{ turnoverTotal }}"
            },
            "scale-x":{
                "labels":[
                    {% for key, value in turnover %}
                        "{{ key }}",
                    {% endfor %}
                ]
            },
            "series": [
                { "values": [
                    {% for value in turnover %}
                        {{ value }},
                    {% endfor %}
                ] },
            ]
        };

        var chartContributionMargin = {
            "type": "bar",
            "title":{
                "text": "Contribution Margin: {{ contributionMarginTotal }}"
            },
            "scale-x":{
                "labels":[
                    {% for key, value in contributionMargin %}
                        "{{ key }}",
                    {% endfor %}
                ]
            },
            "series": [
                { "values": [
                    {% for value in contributionMargin %}
                        {{ value }},
                    {% endfor %}
                ] },
            ]
        };

        var chartResult = {
            "type": "bar",
            "title":{
                "text": "Result: {{ resultTotal }}"
            },
            "scale-x":{
                "labels":[
                    {% for key, value in result %}
                        "{{ key }}",
                    {% endfor %}
                ]
            },
            "series": [
                { "values": [
                    {% for value in result %}
                        {{ value }},
                    {% endfor %}
                ] },
            ]
        };

        zingchart.render({id: 'turnover', data: chartTurnover });
        zingchart.render({id: 'contributionMargin', data: chartContributionMargin });
        zingchart.render({id: 'result', data: chartResult });
    }
</script>
<div class="row">
    <div class="col-sm-6">
        <div id="turnover" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="col-sm-6">
        <div id="contributionMargin" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="col-sm-6">
        <div id="result" style="height: 300px; width: 100%;"></div>
    </div>
</div>    
{% endblock %}