{{ docType() }}
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% block meta %}{% endblock meta %}

    <title>
        {% block title %}E-conomic Dashboard Application{% endblock title %}
    </title>


    <!-- BEGIN CORE FRAMEWORK -->
    <link href="{{ basePath() }}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- END CORE FRAMEWORK -->

    <!-- BEGIN PLUGIN STYLES -->
    <link href="{{ basePath() }}/assets/plugins/animate/animate.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/plugins/bootstrap-slider/css/slider.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <!-- END PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="{{ basePath() }}/assets/css/material.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/css/style.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/css/plugins.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/css/helpers.css" rel="stylesheet" />
    <link href="{{ basePath() }}/assets/css/responsive.css" rel="stylesheet" />
    {% block css %}{% endblock css %}
    <!-- END THEME STYLES -->

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-leftside fixed-header">
<!-- BEGIN HEADER -->
{% block header %}
<header>
    <a href="{{ url('myeconomic') }}" class="logo"><span>E-conomic</span></a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="navbar-btn sidebar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        {% block navbar_header_left %}{% endblock navbar_header_left %}
        {% block navbar_header_right %}{% endblock navbar_header_right %}
    </nav>
</header>
{% endblock header %}
<!-- END HEADER -->

<div class="wrapper">
    <!-- BEGIN LEFTSIDE -->
    <div class="leftside">
        <div class="sidebar">
            <!-- BEGIN RPOFILE -->
            {% block profile %}
                {% set vars = {'img': '/assets/img/avatar.jpg', 'info':'1', 'name':'ttttt'} %}
                {% include 'layout/profile.twig' with vars %}
            {% endblock profile %}
            <!-- END RPOFILE -->
            <!-- BEGIN NAV -->
            <div class="title">Navigation</div>
            <ul class="nav-sidebar">
                {% block navigation %}
                    <li>
                        <a href="{{ url('myeconomic', {'action': 'main'}) }}">
                            <i class="ion-home"></i> <span>Main</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url('myeconomic', {'action': 'turnover'}) }}">
                            <i class="ion-home"></i> <span>Turnover</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('myeconomic', {'action': 'contributionMargin'}) }}">
                            <i class="ion-home"></i> <span>Contribution Margin</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('myeconomic', {'action': 'contributionMarginPercentages'}) }}">
                            <i class="ion-home"></i> <span>Contribution Margin in %</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('myeconomic', {'action': 'result'}) }}">
                            <i class="ion-home"></i> <span>Result</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('myeconomic', {'action': 'profitMargin'}) }}">
                            <i class="ion-home"></i> <span>Profit Margin</span>
                        </a>
                    </li>
                {% endblock navigation %}
            </ul>
            <!-- END NAV -->
        </div><!-- /.sidebar -->
    </div>
    <!-- END LEFTSIDE -->

    <!-- BEGIN RIGHTSIDE -->
    <div class="rightside bg-grey-100">
        <!-- BEGIN PAGE HEADING -->
        {% block page_heading %}{% endblock page_heading %}
        <!-- END PAGE HEADING -->

        <div class="container-fluid">

            {% block content %}{{ content|raw }}{% endblock content %}

            <!-- BEGIN FOOTER -->
            <footer class="bg-white">
                <div class="pull-left">
                    <span class="pull-left margin-right-15">&copy; 2015 E-conomic Dashboards</span>
                    <ul class="list-inline pull-left">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div><!-- /.container-fluid -->
    </div><!-- /.rightside -->

</div><!-- /.wrapper -->
<!-- END CONTENT -->

<!-- BEGIN JAVASCRIPTS -->

<!-- BEGIN CORE PLUGINS -->
<script src="{{ basePath() }}/assets/plugins/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/js/core.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- flot chart -->
<script src="{{ basePath() }}/assets/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/plugins/flot/jquery.flot.grow.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>

<!-- bootstrap slider -->
<script src="{{ basePath() }}/assets/plugins/bootstrap-slider/js/bootstrap-slider.js" type="text/javascript"></script>

<!-- datepicker -->
<script src="{{ basePath() }}/assets/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="{{ basePath() }}/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>

<!-- counter -->
<script src="{{ basePath() }}/assets/plugins/jquery-countTo/jquery.countTo.js" type="text/javascript"></script>

<!-- maniac -->
<script src="{{ basePath() }}/assets/js/maniac.js" type="text/javascript"></script>

<!-- dashboard -->
<script type="text/javascript">
/*    maniac.loadchart();
    maniac.loadvectormap();
    maniac.loadbsslider();
    maniac.loadrickshaw();
    maniac.loadcounter();
    maniac.loadprogress();
    maniac.loaddaterangepicker();*/
</script>

<script src="http://cdn.zingchart.com/zingchart.min.js"></script>
{% block javascripts %}{% endblock javascripts %}
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>